h1 {
    font-style: italic;
    color: #93c1e4;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    text-align: center;
}

li {
    width: 80%;
    margin: auto;
    display: inline-block;
}

img {
    width: 100%;
}

.leftNav {
    width: 3%;
    display: inline-block
}

.rightNav {
    width: 3%;
    display: inline-block
}


/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */

.leftArrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 3em 0;
    border-color: transparent #ffffff transparent transparent;
    -webkit-transform: rotate(360deg);
    /* added for better anti-aliasing on webkit browsers */
}


/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */

.rightArrow {
    float: right;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 0 3em 3em;
    border-color: transparent transparent transparent #ffffff;
    -webkit-transform: rotate(360deg);
    /* added for better anti-aliasing on webkit browsers */
}

.srcIsImage {
    display: inline-block;
}

.srcIsNotImage {
    display: none;
}

.srcIsVideo {
    display: inline-block;
    vertical-align: middle;
}

.srcIsNotVideo {
    display: none;
}

.videoTitle {
    z-index: 2;
    font-style: italic;
    color: #ffffff;
    position: absolute;
    left: 20%;
    padding-top: 30%;
    font-size: 50px;
}

.videoSubTitle {
    z-index: 2;
    font-style: italic;
    color: #93c1e4;
    position: absolute;
    left: 32%;
    padding-top: 31.5%;
    font-size: 45px;
}

.videoDescription {
    width: 45%;
    z-index: 2;
    font-style: bold;
    font-style: italic;
    color: #ffffff;
    position: absolute;
    left: 25%;
    padding-top: 36%;
    font-size: 20px;
    text-align: left;
}